# VeriFactu core (firma, XML, QR, licencias)
signxml
cryptography==38.0.4
pyOpenSSL==22.0.0
lxml[html_clean]
qrcode
PyJWT

# Dependencias auxiliares
requests   # llamadas HTTP al servidor de licencias/updates
packaging     # comparación robusta de versiones en update checker

# (Opcional pero recomendado en Odoo)
python-dateutil==2.9.0.post0  # manejo de fechas (AEAT, Firestore timestamps)

#-----------------------------------------------------------------------------------------------
# Todo en uno
# pip install signxml cryptography==38.0.4 pyOpenSSL==22.0.0 "lxml[html_clean]" qrcode PyJWT requests packaging python-dateutil==2.9.0.post0
